<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493824810701-dc6q4m9sqs12unnnu7flbj0enu48qo41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493824810701-dc6q4m9sqs12unnnu7flbj0enu48qo41</string>
	<key>API_KEY</key>
	<string>AIzaSyC_TcxIMNhrYgT0lwFiB_j-bbV4C5x9z9k</string>
	<key>GCM_SENDER_ID</key>
	<string>493824810701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicinereminder.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>medicinereminder-9a3fb</string>
	<key>STORAGE_BUCKET</key>
	<string>medicinereminder-9a3fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493824810701:ios:c5a3ac4e4a7a63dcb7d384</string>
</dict>
</plist>